.lang-btn {
    display: none;
    &--active {
        color: $color-white;
        transition: 0.3s color ease-in-out;
        display: inline-block;
    }
    &-text__short {
        display: none;
    }
    &-text__full {
        display: none;
    }
    &__wrapper {
        border: 2px solid $color-white;
        width: auto;
        height: 2rem;
        padding: 0 0.5rem;
        line-height: calc(2rem - 4px);
        font-size: 0.8rem;
        border-radius: 1rem;
        display: inline-block;
        cursor: pointer;
        transition: 0.3s border-color ease-in-out;
        &.primary-nav__link--disabled {
            border-color: $disabled-text-color;
            cursor: not-allowed;
            .lang-btn--active {
                color: $disabled-text-color;
            }
        }
    }
}