.site-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    color: $highlight-text-color;
    transition: 0.6s background-color ease-in-out;
    &--shadowed{
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        .site-header__brand-wrapper {
            box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        }
    }
    &--semi-transparent {
        background-color: rgba(0,0,0,0.7);
        .site-header__brand-wrapper {
            background-color: rgba(0,0,0,0.7);
        }
    }
    &--filled {
        background-color: rgba($secondary-background-color,1);
        .site-header__brand-wrapper {
            background-color: rgba($secondary-background-color,1);
        }
    }
    &--is-expanded {
        background-color: rgba($tertiary-background-color,0.8);
        backdrop-filter: blur(3px);
        &.site-header--transparent {
            background-color: rgba($secondary-background-color,0.85);
        }
        .site-header__menu-icon__wrapper {
            background-color: transparent;
        }
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__brand-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1rem;
        background-color: transparent;
        transition: 0.3s background-color ease-in-out;
        display: none;
        img {
            height: 4rem;
        }
        @include atMedium {
            display: block;
        }
    }
    &__nav-wrapper {
        margin: 0 auto;
        @include atMedium {
            display: block!important;
            margin-left: auto;
            margin-right: 0;
        }
        &--is-visible {
            margin: 0 auto;
            opacity: 1;
        }

    }  
    &__menu-icon__wrapper {
        background-color: rgba(0,0,0,0.4);
        border: none;
        border-radius: 50%;
        position: fixed;
        z-index: 1010;
        -webkit-transform: translate3d(0,0,0);
        top: 10px;
        right: 10px;
        padding: 1.4rem;
        cursor: pointer;
        transition: 0.3s background-color ease-in-out;
        &:focus {
            outline: 0;
        }
        @include atMedium {
            display: none;
        }
    }
    &__menu-icon {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 21px;
            height: 3px;
            border-radius: 3px;
            background-color: $color-white;
            transform-origin: 0 0;
            transition: transform 0.3s ease-in-out;
        }
        &__middle {
            position: absolute;
            top: 9px;;
            left: 0;
            width: 21px;
            height: 3px;
            border-radius: 3px;
            background-color: $color-white;
            transform-origin: 0 50%;
            transition: all 0.3s ease-in-out;
        }
        &::after {
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 21px;
            height: 3px;
            border-radius: 3px;
            background-color: $color-white;
            transform-origin: 0 100%;
            transition: transform 0.3s ease-in-out;
        }
    }
    &__menu-icon--close-x {
        &::before {
            transform: rotate(45deg) scaleX(1.3);
        }
        .site-header__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0);
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.3) translateY(1px);
        }
    }
}